<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>

    <body>
        <header>
            <img src="/img/a.png" alt="">
        </header>
        {{{body}}}
    </body>
</html>